.hidden-span {
    position: relative;
    opacity: 0;
    bottom: -50px;
    transition: all 1s ease-in-out;
}

.visible-span {
    position: relative;
    opacity: 1;
    bottom: 0;
    transition: all 1s ease-in-out;
}

.animate-up {
    transform: translateY(-100%);
    transition: all 1s ease-in-out;
}

.hidden-animate {
    display: none;
}

@keyframes typewriter {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s both normal 1 1s steps(40, end);
}

.blink-cursor {
    display: inline;
    animation: blink .75s step-end infinite;
}